<figure {{ if or (.Get "class") (eq (.Get "align") "center") }} class="
        {{- if eq (.Get "align") "center" }}align-center {{ end }}
        {{- with .Get "class" }}{{ . }}{{- end }}"
{{- end -}}>
  <audio
    {{- if ne (.Get "controls") "false" }} controls{{ end -}}
    {{- with .Get "preload" }} preload="{{ . }}"{{ else }} preload="none"{{ end -}}
    {{- if .Get "autoplay" }} autoplay{{ end -}}
    {{- if .Get "loop" }} loop{{ end -}}
    {{- if .Get "muted" }} muted{{ end -}}
    {{- if .Get "alt" }} aria-label="{{ .Get "alt" }}"{{- else }}{{- with .Get "aria-label" }} aria-label="{{ . }}"{{ end -}}{{- end -}}
    {{- if and (not (or (.Get "alt") (.Get "aria-label"))) (or (or (.Get "title") (.Get "caption")) (.Get "attr")) }} aria-labelledby="{{ printf "audio-caption-%d-%s" .Ordinal ((.Get "src") | anchorize) }}"{{ end -}}
  >
    <source src="{{ .Get "src" }}"{{ with .Get "type" }} type="{{ . }}"{{ end }}>
    {{- with .Get "fallback" -}}
      {{ . }}
    {{- else -}}
      Your browser does not support the audio element.
    {{- end -}}
  </audio>
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption{{ if and (not (or (.Get "alt") (.Get "aria-label"))) (or (or (.Get "title") (.Get "caption")) (.Get "attr")) }} id="{{ printf "audio-caption-%d-%s" .Ordinal ((.Get "src") | anchorize) }}"{{ end }}>
      {{ with (.Get "title") -}}
        <span>{{ . }}</span>
      {{- end -}}
      {{- if or (.Get "caption") (.Get "attr") -}}<p>
        {{- .Get "caption" | markdownify -}}
        {{- if and (.Get "caption") (or (.Get "attr") (.Get "attrlink")) }} {{ end -}}
        {{- with .Get "attrlink" }}
          <a href="{{ . }}">
        {{- end -}}
        {{- .Get "attr" | markdownify -}}
        {{- if .Get "attrlink" }}</a>{{ end }}</p>
      {{- end }}
    </figcaption>
  {{- end }}
</figure>
